<body>

    <ul>
        <li>
            <input id="createServerName" type="text" value="" placeholder="new server name">
        </li>
        <li>
            <a id="createServer" href="#">Create New Server</a>
        </li>
        <li>
            <input id="connectToServerName" type="text" value="" placeholder="connect to server">
        </li>
        <li>
            <a id="connectToServer" class="button" href="#">Connect to server</a>
        </li>
      </ul>

  <div id="blocker">

      <div id="instructions">
          <span style="font-size:40px">Click to play</span>
          <br />
          (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
      </div>
  </div>


  <div class="crosshair">

  </div>

<!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

</body>
